@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts config
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('OpenSans-Light'), local('Open Sans Light'),
    url('/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Opens Sans';
  font-weight: 500;
  src: local('OpenSans-Regular'), local('Open Sans Regular'),
    url('/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Opens Sans';
  font-weight: 600;
  src: local('OpenSans-Bold'), local('Open Sans Bold'),
    url('/fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Opens Sans';
  font-weight: 800;
  src: local('OpenSans-Bold'), local('Open Sans Bold'),
    url('/fonts/OpenSans-Bold.woff') format('woff');
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

.content p {
  @apply my-6;
}

a {
  &:hover {
    border-style: none;
  }
}

.content ul {
  @apply my-6;
}

.test {
  color: red;
  font-family: 'Open Sans';
}

body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020918;
  overflow-x: hidden;
}
